// Setup wheel colors

$frameColor: #fff;
$winIndicatorColor: #fff;
$middleColor: #fff;
$colors: #ba4d4e //sector 1 color
  #1592e8 //sector 2 color
  #14c187 //sector 3 color
  #fc7800 //sector 4 color
  #14c187 //sector 5 color
  #1592e8 //sector 6 color
  #ba4d4e //sector 7 color
  #1592e8 //sector 8 color
  #14c187 //sector 9 color
  #fc7800 //sector 10 color
  #14c187 //sector 11 color
  #1592e8; //sector 12 color

@mixin setColor($n) {
  fill: nth($colors, $n);
}

@for $i from 1 through 12 {
  #_#{$i} {
    @include setColor($i);
  }
}

#lucky_wheel_outer_wrap {
  position: relative;

  .lucky_wheel_background_game {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 998;
    top: 0;
    left: 0;
  }

  .Polaris-Page {
    position: relative;
    z-index: 999;
    background-color: #ffffffdd;
  }

  .user_rank {
    padding: 10px;
    border-radius: 15px;

    &.active {
      background-color: rgb(216, 241, 247);
      // color: #fff;
    }
  }

  .frame,
  .sticks {
    fill: $frameColor;
  }

  .winIndicator {
    fill: $winIndicatorColor;
  }

  .wheelMiddle {
    fill: $middleColor;
  }

  .luckywheel {
    margin: 40px auto;
    width: 50%;
    height: 50%;
  }

  #luckywheel_congrats {
    position: relative;
    z-index: 9991;

    #congrats_backdrop {
      position: fixed;
      z-index: 9992;
      background-color: #000000f0;
      width: 100vw;
      height: 100vh;
    }

    .congrats_backdrop_animate {
      overflow: auto;
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 9993;
    }

    #congrats {
      width: 500px;
      height: 400px;
      position: fixed;
      z-index: 9994;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;

      .congrats_content {
        overflow: hidden;
        line-height: 1.4;

        svg {
          font-size: 3em;
          display: inline;
          fill: #fff;
        }
        h4 {
          font-size: 1.6em;
        }
        h2 {
          font-size: 4em;
          text-shadow: 2px 2px 0 #ff0000, 4px 4px 0 #0000ff;
          border: 4px solid;
          margin: 1.2em auto;
        }
      }
    }
  }
}
