
.floating_banner {
	position: fixed;
	z-index: var(--p-z-index-3);
	right: var(--p-space-400);
	bottom: var(--p-space-400);
	border-radius: var(--p-space-200);
	color: #fff;
	background-color: var(--p-color-bg-inverse);
	box-shadow: 0 0 .1875rem #0000001a,0 .25rem 1.25rem #00000026;
	transform-origin: bottom right;
	transform: scale(.95);
	padding: var(--p-space-150) var(--p-space-300);
}

.floating_banner .floating_wrap {
	--spacing-x: var(--p-space-300);
	--spacing-y: var(--p-space-300);
	width: 18.75rem;
}

.floating_banner button,
.floating_banner button:hover,
.floating_banner a:hover,
.floating_banner a {
    color: #fff;
}