#hero_banner_shop_page {
  background: url(../images/demo_shop_banner.webp) no-repeat;
  background-size: cover;
  background-color: black;

  #hero_banner_shop_page_content {
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
  }
}
