.product_variant_option_variant {
  overflow: auto;

  .variant_option {
    cursor: pointer;
    border: 2px solid #ccc;
    padding: 10px;
    &.active,
    &:hover {
      border-color: rgb(27, 13, 108);
    }
  }
}

.product_image_slide {
  overflow: auto;
  margin: 15px 0;
  text-align: center;

  img.product_slide_thumbnail {
    height: 50px;
    width: auto;
  }
}

#add_to_cart_button_group {
  border: 1px solid #ccc;
  max-width: 252px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;

  #cart_quantity_selected {
  }
  #add_to_cart_main_button {
    background-color: #ffa41c !important;
    color: #000 !important;

    svg {
      fill: #000 !important;
    }
  }
}
