#ranking_by_wallet {
  background-color: #ffffffc4;
  position: relative;

  .ranking_diamond_icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 60px;
    height: auto;
  }

  #ranking_headline {
    color: rgb(245, 192, 43);
    background-color: #000;
    padding: 15px 10px;
  }

  .topwallet_element {
    font-size: 1.2em;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 0.8em;

    &:hover {
      border-color: rgb(245, 192, 43);
      background-color: #000;
      color: #fff;
    }
  }

  .top1 {
    border-top: 2px solid rgb(245, 192, 43);
    border-bottom: 2px solid rgb(245, 192, 43);
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
  }
}
